*.pyc
*.pyo
**/__pycache__/
**/.pytest_cache/
*.coverage
*.bak
*pip
*.iml
*.egg-info

build
site/

.venv/

*.env

logs/*
files/*
.vscode/*
.idea/*
.devcontainer/*
.DS_Store

.databricks
.coverage*

/spark-warehouse/